<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>素材站-TAG标签首页</title>
    <link rel="shortcut icon" href="http://t1.sucai.biz/image/sucaiz-logo.ico" />
    <script src="/public/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/tag.css" />
</head>
<body>
<div id="shortcut">
    <h3>快捷导航</h3>
    <nav>
        <a href="/index.html" class="icon-download">素材站首页</a>
        <a href="#tutorials" class="icon-tutorials">设计教程</a>
        <a href="#picture" class="icon-picture">高清图库</a>
        <a href="#ui" class="icon-ui">界面设计</a>
        <a href="#color" class="icon-color">配色方案</a>
        <a href="#template" class="icon-template">网站模版</a>
        <a href="#site" class="icon-site">酷站推荐</a>
        <a href="#inspiration" class="icon-inspiration">灵感创意</a>
        <a href="#tool" class="icon-tool">设计神器</a>
        <a href="#font" class="icon-font">字体设计</a>
        <a href="#blog" class="icon-blog">行业名博</a>
        <a href="#infographic" class="icon-infographic">信息图</a>
        <a href="#interactive" class="icon-interactive">交互设计</a>
        <a href="#photography" class="icon-photography">摄影美图</a>
        <a href="#illustrated" class="icon-illustrated">漫画插图</a>
        <a href="#infomation" class="icon-infomation">互联网讯</a>
    </nav>
</div>
</body>
</html>