<div style="width:100%;height:150px;" class="load"></div>
<div class="loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="content">
    <div class="likenav">
        <ul>
            <li class="inline"><a href="" data-type="zm">桌面壁纸 {$count.zmbz}</a></li>
            <li class="inline"><a href="" data-type="sj">手机壁纸 {$count.sjbz}</a></li>
            <li class="inline"><a href="" data-type="zx">素材资讯 {$count.sczx}</a></li>
        </ul>
    </div>
    <div class="likelist">

    </div>


</div>
