<!DOCTYPE html>
<html lang="en">
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="UTF-8">
    <title>素材站 桌面壁纸 高清壁纸 壁纸大全 信息图 数字之道 信息资讯 PSD素材 图片素材 JS素材</title>
    <meta name="keywords" content="{$host_keywords}">
    <meta name="description" content="{$host_description}">
    <!--引入样式文件-->
    <link rel="stylesheet" href="/public/css/index/index.css">
    <!--引入jquery-->
    <script type="text/javascript" src="/public/jquery.js"></script>
    <!--延时加载图片-->
    <script type="text/javascript" src="/public/js/jquery.lazyload.min.js?v=1.9.1"></script>
    <!--加载导航栏图标-->
    <link rel="shortcut icon" href="http://t1.sucai.biz/image/sucaiz-logo.ico"/>

    <script type="text/javascript" src="/public/plugins/slider/nivo.slider.pack.js"></script>

</head>
<body>
<header>
    <nav>
        <div class="logo inline">
            <a href="/"><img src="/public/png/login.png" alt="" style="height:30px;width:30px;"></a>
        </div>
        <div class="nav inline">
            <ul>
                <a href="/bz">
                    <li>桌面壁纸</li>
                </a>
                <a href="/sj">
                    <li>手机壁纸</li>
                </a>
                <a href="/bz/ktbz.html">
                    <li>动漫壁纸</li>
                </a>
                <a href="/bz/zrfj.html">
                    <li>自然风景</li>
                </a>
                <a href="/bz/mnbz.html">
                    <li>美女壁纸</li>
                </a>
                <a href="/zx">
                    <li>素材资讯</li>
                </a>
                <a href="/sszd">
                    <li>数字之道</li>
                </a>
            </ul>
        </div>

        <div class="handle"><a href="/login.html">登录</a> | <a href="/register.html">注册</a></div>
    </nav>
    <div style="width:1200px;height:470px;margin:0 auto;">
        <img src="/public/jpg/015a0e554597490000019ae96854c3.jpg" alt="" style="width:1200px;height:470px;"align="center">
    </div>
</header>

<article>
    <div class="ad" style="width:100%;height:90px;margin-bottom:10px;">
        <div style="width:960px;height:90px;float:left;">{$host_keywords|ad=1,###}</div>
        <div style="width:240px;height:90px;float:left;">{$host_keywords|ad=2,###}</div>
    </div>
    <div class="header">
        <div class="left inline">
            <div class="show">
                <div id="slider" class="nivoSlider" style="width:800px;height:450px;">
                    <a href="/bz/20160830717.html" class="img"><img
                            src="/public/jpg/1-1P219225T8.jpg"
                            alt="2016年Bing夜景主题桌面壁纸"
                            title="2016年Bing夜景主题桌面壁纸" target="_blank"/></a>
                    <a href="/public/jpg/1-1P405225207.jpg" class="img"><img
                            src="/public/jpg/1-1P405225207.jpg" alt="抽象设计色彩宽屏桌面壁"
                            title="抽象设计色彩宽屏桌面壁" target="_blank"/></a>
                    <a href="/bz/20160723622.html" class="img"><img
                            src="/public/jpg/1-1P423224929.jpg" alt="小黄人打工记动画壁纸"
                            title="小黄人打工记动画壁纸" target="_blank"/></a>
                    <a href="/bz//20160615514.html" class="img"><img
                            src="/public/jpg/1P525124R2-4.jpg" alt="有钱就是这么任性简约宽"
                            title="有钱就是这么任性简约宽" target="_blank"/></a>
                    <a href="/bz/20160225185.html" class="img"><img
                            src="/public/jpg/1-1P501000221.jpg" alt="情人节高清电脑壁纸"
                            title="情人节高清电脑壁纸" target="_blank"/></a>
                </div>
            </div>
            <div class="ad" style="width:760px;height:90px;margin-top:10px;padding-left:20px;padding-right:20px;background:#151A20">
                {$host_keywords|ad=4,###}
            </div>
        </div>
        <div class="right inline">
            <div class="share">
                <div style="width:190px;height:60px;float:left;">
                    <span>分享: </span>
                    <img src="/public/png/share-weibo.png" alt="">
                    <img src="/public/png/share-qq.png" alt="">
                    <img src="/public/png/share-weixin.png" alt="">
                </div>
                <div style="width:180px;text-align:center;height:60px;float:left;" class="collect"><a href="">收藏本站</a></div>
            </div>
            <div style="height:max-content;background:#ffffff;padding-top:1px;">
                <div class="padding:10px;" style="width:380px;margin-left:10px;margin-top:10px;"><a href="/bz/ylbz.html"><img src="/public/jpg/1ff79d8269bd94ceaf8a4662cdb82f4b.jpg" alt="" style="width:360px;border-radius:10px;"></a></div>
                <div>
                    <div class="inline" style="padding:10px;"><a href="/bz/ktbz.html"><img src="/public/jpg/1-160Q2005648.jpg" alt="" style="width:170px;height:255px;"></a></div>
                    <div class="inline" style="padding:10px;"><a href="/bz/gqyx.html"><img src="/public/jpg/1-161114150H1.jpg" alt="" style="width:170px;height:255px;"></a></div>
                </div>
                <div class="padding:10px;" style="width:360px;margin-left:10px;"><img src="/public/jpg/1-1P225234939.jpg" alt="" style="width:360px;border-radius:40px;"></div>
            </div>
            <div class="hot">
                <div class="title">
                    <div class="tit">热门资讯</div>
                    <div class="more"><a href="/zx">更多>></a></div>
                </div>
                <div class="content">
                    <ul>
                        {volist name="24|hot='article',###,true" key="k" id="vo" offset="0" length="10"}
                        <li>
                            <div class="prefix" {if $k elt 3}style="background:#FF8773" {/if}>{$k}</div>
                            <a href="{$vo.url}"><div class="tit"><span>{$vo.title}</span></div></a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>
<div class="main">
    <div class="title">
        <div class="tt"><span>最新壁纸</span></div>
        <div class="more"><a href="/bz/index.html">更多>></a></div>
    </div>
    <div class="list">
        <ul>
            {volist name="1|article='list',###" id="vo" offset="0" length="8"}
            <a href="{$vo.url}">
                <li>
                    <div class="c-item">
                        <div class="c-img"><img src="{$vo.litpic}" alt="{$vo.title}" style="width:260px;height:146px;">
                        </div>
                        <div class="c-title"><span>{$vo.title}</span></div>
                    </div>
                </li>
            </a>
            {/volist}

        </ul>
    </div>
    <!--<div class="title">-->
        <!--<div class="tt"><span>手机壁纸</span></div>-->
        <!--<div class="more"><a href="/bz/index.html">更多>></a></div>-->
    <!--</div>-->
    <!--<div class="title">-->
        <!--<div class="tt"><span>PSD</span></div>-->
        <!--<div class="more"><a href="/bz/index.html">更多>></a></div>-->
    <!--</div>-->
    <!--<div class="title">-->
        <!--<div class="tt"><span>矢量图</span></div>-->
        <!--<div class="more"><a href="/bz/index.html">更多>></a></div>-->
    <!--</div>-->
    <!--<div class="title">-->
        <!--<div class="tt"><span>图标</span></div>-->
        <!--<div class="more"><a href="/bz/index.html">更多>></a></div>-->
    <!--</div>-->
    <!--<div class="title">-->
        <!--<div class="tt"><span>JQuery脚本</span></div>-->
        <!--<div class="more"><a href="/bz/index.html">更多>></a></div>-->
    <!--</div>-->
    <!--<div class="title">-->
        <!--<div class="tt"><span>模板</span></div>-->
        <!--<div class="more"><a href="/bz/index.html">更多>></a></div>-->
    <!--</div>-->

    <!--<div class="title">-->
        <!--<div class="tt"><span>数字之道</span></div>-->
        <!--<div class="more"><a href="/szzd/index.html">更多>></a></div>-->
    <!--</div>-->
    <!--<div class="list">-->
        <!--&lt;!&ndash;<ul>&ndash;&gt;-->
            <!--&lt;!&ndash;{volist name="8|article='list',###" id="vo" offset="0" length="4"}&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="{$vo.url}">&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="c-item" style="height:525px;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="c-img" style="height:411px;"><img src="{$vo.litpic}" alt="{$vo.title}" style="width:260px;height:411px;">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="c-title"><span>{$vo.title|cut_str=###,16}</span></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;{/volist}&ndash;&gt;-->

        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--</div>-->
</div>
<div class="ad" style="width:1200px;height:90px;margin:0 auto;margin-bottom:10px;">
    <div style="width:960px;height:90px;float:left;">{$host_keywords|ad=1,###}</div>
    <div style="width:240px;height:90px;float:left;">{$host_keywords|ad=2,###}</div>
</div>
<div class="link">
    <div class="tt"><span style="margin-left:10px;">友情链接</span></div>
</div>
<footer>
    <div class="content">
        <div class="logo"><img src="/public/png/logo1_2.png" alt="" style="width:250px;"></div>
        <div class="miniapp"><img src="/public/jpg/miniapp.jpg" alt="" style="width:100px;height:100px;"></div>
        <div class="miniapp"><img src="/public/png/weibo_code.png" alt="" style="width:100px;height:100px;"></div>
        <div class="info" style="width:650px;">
            <div class="cory">{$host_info}</div>
            <div class="more">
                <ul>
                    <li><a href="/version.html" target="_blank">版本历史</a></li>
                </ul>
            </div>
            <div class="icp">{$host_icp}</div>
        </div>
    </div>
</footer>
</body>

<script type="text/javascript" src="/public/jquery.cookie.js"></script>
<script type="text/javascript" src="/public/js/index/common.js"></script>
<script type="text/javascript" src="/public/js/index/index.js"></script>

</html>