<header>
    <div class="content">
        <div class="header">
            <div class="handle"><a href="/login.html">登录</a> | <a href="/register.html">注册</a></div>
        </div>
        <div class="logo">
            <img src="/public/png/logo1_2.png" alt="" style="height:60px;">
        </div>
        <div class="search">
            <div class="search-input">
                <input type="text" name="keyword">
            </div>
            <button id="search">搜索</button>
        </div>
    </div>
</header>