*{
    margin:0;
    padding:0;
    border:0;
}
body{
    width:100%;
    min-width:1200px;
    height:max-content;
    background:#F4F4F4;
    font-family: '微软雅黑';
}
.inline{
    float:left;
}
header{
    width:100%;
    height:55px;
    background:#13A38C;
}
header .header{
    width:1200px;
    height:55px;
    margin:0 auto;
    background:#13A38C;
    line-height:55px;
    position:relative;
}
header .header .logo{
    width:100px;
    height:55px;
}
header .header .logo img{
    width:50px;
    height:50px;
}
header .header .nav ul {
    padding:0;
    margin:0;
}
header .header .nav ul li{
    margin:0;
    padding:0;
    float:left;
    padding-left:20px;
    padding-right:20px;
}
header .header .my img{
    width:20px;
    height:20px;
}
header .header .my{
    float:right;
}
header .header .my div{
    width:60px;
    height:100%;
    text-align:center;
}
header .header .my div:hover{
    background:#393D49 !important;
    cursor:pointer !important;
}
header .header .msglist{
    width:400px;
    height:400px;
    background:#ffffff;
    position:absolute;
    z-index:2;
    margin-top:55px;
    margin-left:calc(100% - 460px);
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    box-shadow:0px 0px  10px 5px #aaa;
}
header .header .msglist .head{
    width:calc(100% - 40px);
    height:30px;
    padding:10px;
    padding-left:40px;
    line-height:30px;
    border-bottom:1px #DEDEDE solid;
}
header .header .msglist .main{
    width:100%;
    height:300px;
}
header .header .msglist .main .mlist{
    width:100%;
    height:50px;
    padding-top:10px;
    border-bottom:1px #DEDEDE solid;
}
header .header .msglist .main .mlist .title{
    width:calc(100% - 20px);
    height:25px;
    line-height:25px;
    padding-left:20px;
    font-size:12pt;
}
header .header .msglist .main .mlist .time{
    width:calc(100% - 20px);
    height:20px;
    line-height:20px;
    padding-left:20px;
    font-size:10pt;
}
header .header .msglist .bottom{
    width:100%;
    height:50px;
    line-height:50px;
    text-align:center;
    border-top:1px #DEDEDE solid;
    margin-bottom:0px;
    cursor:pointer !important;
}
header .header .msg{
    position:relative;
}
header .header .msg .hint{
    width:5px;
    height:5px;
    border-radius:2.5px;
    background:red;
    position:absolute;
    top:20px;
    right:20px;
}
header .header .mymenu{
    background:#ffffff;
    width:200px;
    position:absolute;
    margin-top:55px;
    box-shadow:0px 0px  10px 5px #aaa;
    padding-bottom:5px;
    border-radius:5px;
    margin-left:calc(100% - 200px);
    z-index:99;
}
header .header .mymenu .nick{
    font-size:12pt;
    font-weight:900;
    margin-bottom:5px;
}
header .header .mymenu ul li{
    padding-left:10px;
    padding-right:10px;
}
header .header .mymenu .implot{
    border-bottom:1px #DEDEDE solid;
}
header .header .mymenu .h:hover{
    background:#13A38C;
}
footer{
    width:100%;
    height:500px;
    background:#282828;
    margin-top:20px;
}