<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>素材站-小程序-分类管理-显示设置-获取相关文档</title>
    <link rel="stylesheet" href="/public/layui/css/layui.css">
    <!--引入jquery-->
    <script src="/public/jquery.js"></script>
    <!--引入layer-->
    <script src="/public/layer/layer.js"></script>
    <style>
        article {
            margin-top: -10px;
        }
    </style>
</head>
<body>
<article id="content">

</article>
<input type="hidden" name="id" value="{$id}">
</body>
<script type="text/javascript" src="/public/layui/layui.js"></script>
<script>
    $(function () {
        layui.use(['table', 'vip_table'], function () {

            var table = layui.table
                , vipTable = layui.vip_table;
            // 表格渲染
            var tableIns = table.render({
                elem: '#content'                  //指定原始表格元素选择器（推荐id选择器）
                , height: vipTable.getFullHeight(-30)    //容器高度
                , cols: [[                  //标题栏
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', align: 'center', title: 'ID', width: 80}
                    , {field: 'title', align: 'center', title: '名称', width: 250}
                    , {field: 'column', align: 'center', title: '所属栏目', width: 120}
                    , {field: 'click', align: 'center', title: '点击量', width: 100}
                    , {field: 'create_time', align: 'center', title: '创建时间', width: 200}
                ]]
                , id: 'dataCheck'
                , url: '/admin/miniapp/getTagArticle.html'
                , method: 'post'
                , page: true
                , where: {id: $('input[name="id"]').val()}
                , limits: [30, 60, 90, 150, 300]
                , limit: 30 //默认采用30
                , loading: true
            });
        });
    });
</script>
</html>