<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理-素材站-搜索分类管理</title>
    <link rel="stylesheet" href="/public/layui/css/layui.css">
    <link rel="stylesheet" href="/public/static/css/style.css">
    <link rel="icon" href="/public/static/image/code.png">
    <link rel="stylesheet" href="/public/css/childcommon.css">
    <script src="/public/jquery.js"></script>
    <script src="/public/layer/layer.js"></script>
    <script type="text/javascript" src="/public/layui/layui.js"></script>
    <style>
        .layui-table-view{
            margin:0;
        }
    </style>
</head>
<body>
<header style="width:100%;height:60px;line-height:60px;" id="header">
    <ul style="margin-left:20px;" class="bread-nav">
        <a href="">
            <li>搜索管理</li>
        </a>
        <li>|</li>
        <a>
            <li>分类管理</li>
        </a>
    </ul>
    <div class="top-btn">
        <button class="layui-btn  layui-btn-sm add-column layui-btn-normal" id="add">新增分类</button>
    </div>
</header>
<article id="article" lay-filter="demo" style="margin-top:0;"></article>
</body>
<script>
$(function(){

});
// layui方法
layui.use(['table', 'vip_tab', 'vip_table'], function () {
    // 操作对象
    var table = layui.table
        ,viptab = layui.vip_tab
        , vipTable = layui.vip_table;
    // 表格渲染
    var tableIns = table.render({
        elem: '#article'                  //指定原始表格元素选择器（推荐id选择器）
        , height: vipTable.getFullHeight(25)    //容器高度
        , cols: [[                  //标题栏
            {field: 'id', title: 'ID', align:'center', width: 100}
            ,{field:'name',title:'名称',align:'center',width:250}
            ,{field:'cid',title:'所属栏目',align:'center',width:150}
            ,{field:'tid',title:'类型',align:'center',width:100}
            ,{field:'create_time',title:'创建时间',align:'center',width:200}
            ,{field:'alter_time',title:'修改时间',align:'center',width:200}
            ,{fixed: 'right', title: '操作', width:300, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
        ]]
        , id: 'dataCheck'
        , url: '/admin/search/getcolumn.html'
        , parseData:function (res) {
            return {
                'code':res.data.code,
                'msg':res.msg,
                'count':res.data.count,
                "data":res.data.data
            }
        }
        , method: 'get'
        , page: true
        , limits: [20, 40, 60, 80, 100]
        , limit: 20 //默认采用30
        , loading: true

    });
    table.on('tool(demo)', function (obj) {
        var data = obj.data;
        if (obj.event == 'del') {
            //删除
            //询问框
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                $.ajax({
                    url: '/admin/search/delcolumn.html',
                    type: 'post',
                    data: {id: data.cid},
                    beforeSend: function () {
                        loading = layer.load(0, {shade: false});
                    },
                    success: function (e) {
                        var data = JSON.parse(e);
                        layer.msg(data.msg, {time: 1000}, function () {
                            if (data.errorcode == 0) {
                                tableIns.reload();
                            }
                        });
                    },
                    complete:function () {
                        layer.close(loading);
                    }
                })
            }, function () {
                layer.closeAll('dialog');
            });
        }else if(obj.event == 'edit'){
            layer.prompt({title: '输入修改后的名称', formType: 0}, function(text, index){
                $.ajax({
                    url:'/admin/search/editcolumnname.html',
                    type:'post',
                    data:{
                        id:data.id,
                        name:text
                    },
                    beforeSend: function () {
                        loading = layer.load(0, {shade: false});
                    },
                    success: function (e) {
                        var data = JSON.parse(e);
                        layer.msg(data.msg, {time: 1000}, function () {
                            if (data.success) {
                                tableIns.reload();
                                layer.close(index);
                            }
                        });
                    },
                    complete:function () {
                        layer.close(loading);
                    }
                });

            });
        }
    });
    $('#add').on('click',function(){
        layer.open({
            type: 2,
            title: '新增分类',
            shadeClose: true,
            shade: 0.8,
            area: ['800px', '500px'],
            content: '/admin/search/addcolumn.html',
            end:function () {
                tableIns.reload();
            }
        });
    });
});
</script>
<!-- 表格操作按钮集 -->
<script type="text/html" id="barOption">
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit" title="编辑">编辑名称</a>
    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del" title="删除">删除</a>
</script>
</html>