<div class="header">
    <div style="width:100%;height:40px;"></div>
    <div class="face">
        <img src="{$user_info.face}" alt="" class="faceimg">
    </div>
    <div class="nickname">
        <a href="/member/index.html?id={$user_info.id}" target="_blank">{$user_info.nickname}</a>
    </div>
    <div class="level">
        {$user_info.level_info}
    </div>
    <a href="/member/contribute/add.html" target="_blank">
        <div class="contribute">投稿</div>
    </a>
</div>
<div class="content">
    <a href="/member/information/attention.html"><div class="list {if $type eq 'attention'}this{/if}" style="border-bottom:1px solid #EEEEEE">我关注的</div></a>
    <a href="/member/information/myarticle.html"><div class="list {if $type eq 'myarticle'}this{/if}">我的投稿</div></a>
    <a href="/member/information/mylike.html"><div class="list {if $type eq 'mylike'}this{/if}">我的收藏</div></a>
    <a href="/member/information/mydown.html"><div class="list {if $type eq 'mydown'}this{/if}" style="border-bottom:1px solid #EEEEEE">我的下载</div></a>
    <a href="/member/information/index.html"><div class="list {if $type eq 'index'}this{/if}">我的统计</div></a>
    <a href="/member/accounts/setting.html"><div class="list {if $type eq 'index'}this{/if}">资料&账号</div></a>
</div>