<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>附件管理-素材站-后台管理</title>
    <link rel="stylesheet" href="/public/layui/css/layui.css">
    <link rel="stylesheet" href="/public/static/css/style.css">
    <link rel="stylesheet" href="/public/css/childcommon.css">
    <!--引入jquery-->
    <script src="/public/jquery.js"></script>
    <!--引入layer-->
    <script src="/public/layer/layer.js"></script>
    <!--引入jquery-zclip文件-->
    <script src="/public/plugins/jquery-zclip/jquery.zclip.js"></script>
</head>
<body>
<!--面包屑导航-->
<header style="width:100%;height:60px;line-height:60px;" id="header">
    <ul style="margin-left:20px;" class="bread-nav">
        <a href="">
            <li>首页</li>
        </a>
        <li>|</li>
        <a>
            <li>附件管理</li>
        </a>
    </ul>
    <div class="top-btn">
        <button class="layui-btn  layui-btn-small add-column layui-btn-normal" id="upload">上传文件</button>
    </div>
</header>
<!-- 表格 -->
<div id="dateTable" lay-filter="test" style="margin-top:-10px;"></div>

<script type="text/javascript" src="/public/layui/layui.js"></script>
<script type="text/javascript">

    // layui方法
    layui.use(['table', 'form', 'layer', 'vip_table', 'upload'], function () {

        // 操作对象
        var form = layui.form
            , table = layui.table
            , layer = layui.layer
            , vipTable = layui.vip_table
            , upload = layui.upload
            , $ = layui.jquery;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , height: vipTable.getFullHeight(32)    //容器高度
            , cols: [[                  //标题栏
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', width: 80}
                , {field: 'article_title', title: '文档名称', width: 350}
                , {field: 'article_id', title: '文档id', width: 100, align: 'center'}
                , {field: 'file_type', title: '附件类型', width: 100, align: 'center'}
                , {field: 'filesize', title: '附件大小', width: 100, align: 'center'}
                , {field: 'admin_id', title: '管理员id', width: 100, align: 'center'}
                , {field: 'create_time', title: '上传时间', width: 200, align: 'center'}
                , {field: 'oss_bucket', title: 'oss-bucket', width: 200, align: 'center'}
                , {field: 'oss_object', title: 'oss-object', width: 400, align: 'center'}
                , {fixed: 'right', title: '操作', width: 250, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , id: 'dataCheck'
            , url: '/admin/get_upload_list_json.html'
            , parseData: function (res) {
                return {
                    'code': res.data.code,
                    'msg': res.msg,
                    'count': res.data.count,
                    "data": res.data.data
                }
            }
            , method: 'get'
            , page: true
            , limits: [50, 100, 150, 200, 250]
            , limit: 50 //默认采用30
            , loading: true
        });
        // 刷新
        $('#btn-refresh').on('click', function () {
            tableIns.reload();
        });
        //监听工具条事件
        table.on('tool(test)', function (obj) {
            switch (obj.event) {
                case 'copy':
                    var copy_state = this.dataset.copy;
                    $(this).zclip({
                        path: '/public/plugins/jquery-zclip/ZeroClipboard.swf',
                        copy: function () {
                            //复制内容
                            return obj.data.url;
                        },
                        afterCopy: function () { //复制成功
                            layer.msg('复制成功', {time: 2000});
                        }
                    });
                    break;
                case 'show':
                    layer.msg('预览');
                    break;
                case 'del':
                    layer.msg('删除');
                    break;
            }
            ;
        });
        //创建一个上传组件
        upload.render({
            elem: '#upload'
            , url: '/admin/upload/uploadfile.html'
            , done: function (res, index, upload) { //上传后的回调
                layer.msg(res.msg, {time: 2000}, function () {
                    if (res.success) {
                        tableIns.reload();
                    }
                })
            }
        });

        function copy(element, obj) {

        }
    });
</script>
<!-- 表格操作按钮集 -->
<script type="text/html" id="barOption">
    <a class="layui-btn layui-btn-sm" lay-event="show">预览</a>
    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-sm layui-btn-warm" data-copy="false" lay-event="copy">复制链接</a>
</script>
</body>
</html>