<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改会员等级</title>
    <link rel="stylesheet" href="/public/layui/css/layui.css">
    <link rel="stylesheet" href="/public/static/css/style.css">
    <!--引入jquery-->
    <script src="/public/jquery.js"></script>
    <!--引入layer-->
    <script src="/public/layer/layer.js"></script>
</head>
<body>
<form class="layui-form layui-form-pane" id="addlevel" action="" style="margin-top:20px;margin-left:20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">等级名称</label>
        <div class="layui-input-block">
            <input type="text" name="level_name" autocomplete="off" lay-verify="name" placeholder="请输入名称" class="layui-input" style="width:300px" value="{$level_info.level_name}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">会员等级值</label>
        <div class="layui-input-inline">
            <input type="number" name="rank" lay-verify="rank" placeholder="请输入值" class="layui-input" style="width:150px;" value="{$level_info.rank}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">等级图标</label>
        <div class="layui-input-inline" style="height:50px;width:322px;">
            <div style="float:left;width:200px;height:50px;text-align:center;"><button type="button" class="layui-btn" id="test1">上传图标</button></div>
            <div style="float:left;width:122px;height:50px;"><img id="level_img" src="{$level_info.level_img}" alt="" style="width:122px;height:50px;"></div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text" style="width:550px;">
        <label class="layui-form-label">等级说明</label>
        <div class="layui-input-block" >
            <textarea placeholder="请输入等级说明" name="description" lay-verify="description" class="layui-textarea">{$level_info.description}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <input type="hidden" name="id" value="{$level_info.id}">
        <button class="layui-btn" lay-submit="" lay-filter="demo2" style="margin-left:240px;">修改</button>
    </div>
</form>
<script type="text/javascript" src="/public/layui/layui.js"></script>
<script type="text/javascript" src="/public/js/admin/alter_member_level.js"></script>
</body>
</html>