<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/layui/css/layui.css">
    <link rel="stylesheet" href="/public/static/css/style.css">
    <link rel="stylesheet" href="/public/css/childcommon.css">
    <!--引入jquery-->
    <script src="/public/jquery.js"></script>
    <!--引入layer-->
    <script src="/public/layer/layer.js"></script>
</head>
<body>
<article id="log" lay-filter="demo" style="margin-top:-10px"></article>
<input type="hidden" value="{$uid}" name="id">
<script type="text/javascript" src="/public/layui/layui.js"></script>
<script src="/public/js/admin/get_membet_login_log.js"></script>
</body>
</html>